/* 
//colors: 
//#505B55
//#C78376
//#EDD5D1
//#7D646A
//#739DA8


html {
    background-color: #c78376;
}

body {
    width: 800px;
    margin: auto;
    padding: 0px;
    background-color: #edd5d1;
}

.el {
    border: 3px solid #505b55;
}

.text {
    font-family: "Raleway", sans-serif;
}

h1 {
    background-color: #739da8;
    margin: 0;
    padding: 20px 0;
    text-shadow: 1px 1px 5px white;
}

h2 {
background-color: #739DA8;
margin: 10px 0px;
padding: 10px 0px;
text-shadow: 1px 1px 5px white;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

img {
    display: block;
    width: 500px;
    margin: 0px auto;
    padding: 0px;
}

p {
    margin: auto;
    padding-left: 10px;
    line-height: 2;
    letter-spacing: 0.2px;
}

ol {
    margin: 0px;
    padding-left: 30px;
}

li {
    margin: 20px 0px;
}

html {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
}

tbody {
    font-size: 90%;
    font-style: italic;
}

tfoot {
    font-weight: bold;
}

caption {
    padding: 10px;
}

*/

h1 {
    color: red;
}

p,
li {
    color: green;

}

li {
    list-style-type: square;
}

.top_li {
    color: rebeccapurple;

}

a:link {
    color: pink;
}

a:visited {
    color: green;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}